/******************
Heading sizes. Modify to fit requirements.
******************/

.hdg {
	
	&--italic {
		font-style: italic;
	}

	&--bold {
		font-weight: 700;
	}
}



.hdg--1 {
	font-size: 1.8em;
}

.hdg--2 {
	font-size: 1.7em;
}

.hdg--3 {
	font-size: 1.6em;
}

.hdg--4 {
	font-size: 1.5em;
}

.hdg--5 {
	font-size: 1.4em;
}

.hdg--6 {
	font-size: 1.3em;
}

.hdg--7 {
	font-size: 1.2em;
}

.hdg--8 {
	font-size: 1.1em;
}
