---
title: Home
---

<h2 class="hdg hdg--2">Here are some spaced columns</h2>
<div class="cols cols--1up-sm cols--2up-md cols--4up-lg cols--spaced">
	<div class="cols__col">		
			<div class="hdgs">
				<h3 class="hdg hdg--3">Example of h1 tag and list of hdg classes</h3>
				<ul class="hdgs-list">
					<li class="hdg hdg--1">hdg--1</li>
					<li class="hdg hdg--2">hdg--2</li>
					<li class="hdg hdg--3">hdg--3</li>
					<li class="hdg hdg--4">hdg--4</li>
					<li class="hdg hdg--5">hdg--5</li>
					<li class="hdg hdg--6">hdg--6</li>
					<li class="hdg hdg--7">hdg--7</li>
					<li class="hdg hdg--8">hdg--8</li>
				</ul>
			</div>
	</div>
	
	<div class="cols__col">
		<div class="txts">
			<h3 class="hdg hdg--3">Examples of txt class sizes</h3>
			<ul class="txt-list">
				<li class="txt txt--1">txt--1</li>
				<li class="txt txt--2">txt--2</li>
				<li class="txt txt--3">txt--3</li>
				<li class="txt txt--4">txt--4</li>
			</ul>
		</div>
	</div>
	<div class="cols__col">		
			<div class="hdgs">
				<h3 class="hdg hdg--3">Example of h1 tag and list of hdg classes</h3>
				<ul class="hdgs-list">
					<li class="hdg hdg--1">hdg--1</li>
					<li class="hdg hdg--2">hdg--2</li>
					<li class="hdg hdg--3">hdg--3</li>
					<li class="hdg hdg--4">hdg--4</li>
					<li class="hdg hdg--5">hdg--5</li>
					<li class="hdg hdg--6">hdg--6</li>
					<li class="hdg hdg--7">hdg--7</li>
					<li class="hdg hdg--8">hdg--8</li>
				</ul>
			</div>
	</div>
	
	<div class="cols__col">
		<div class="txts">
			<h3 class="hdg hdg--3">Examples of txt class sizes</h3>
			<ul class="txt-list">
				<li class="txt txt--1">txt--1</li>
				<li class="txt txt--2">txt--2</li>
				<li class="txt txt--3">txt--3</li>
				<li class="txt txt--4">txt--4</li>
			</ul>
		</div>
	</div>	
	
</div>

<div class="triangle-box">
	<p class="triangle-box__text">some wackadoodle triangles!</p>
	<span class="triangle-box__up"></span>
	<span class="triangle-box__right"></span>
	<span class="triangle-box__down"></span>
	<span class="triangle-box__left"></span>
</div>

<div class="default-styles">
	<p>Here is an example <span class="txt txt--bold">bold text</span></p>
	<a href="#">anchor tag</a><br>
	<button type="button">I'm a button!</button>
</div>

<form action="http://www.google.com" method="post">
	<label for="example-text">First Name</label>
	<input type="text" id="example-text" placeholder="John Smith"><br>
	
	<label>True <input type="radio" name="belief"></label><br>
	<label>False <input type="radio" name="belief"></label><br>
	
	<label for="example-checkbox">Check in to cash</label>
	<input type="checkbox" id="example-checkbox"><br>
	
	<input type="submit">
</form>