.hdg--1 {
	font-size: 2.3em;
}

.hdg--2 {
	font-size: 2.2em;
}

.hdg--3 {
	font-size: 2.1em;
}

.hdg--4 {
	font-size: 2em;
}

.hdg--5 {
	font-size: 1.9em;
}

.hdg--6 {
	font-size: 1.8em;
}

.hdg--7 {
	font-size: 1.7em;
}

.hdg--8 {
	font-size: 1.6em;
}
