/******************
Text sizes. Modify to fit requirements.
******************/

.txt {

	&--italic {
		font-style: italic;
	}

	&--bold {
		font-weight: 700;
	}
}

.txt--1 {
	font-size: 1.1em;
}

.txt--2 {
	font-size: 1em;
}

.txt--3 {
	font-size: 0.9em;
}

.txt--4 {
	font-size: 0.8em;
}

