body {
  line-height: 1.6; }

.slider-wrapper {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #aaa; }

.slipnslider {
  padding-bottom: 40px; }

.slipnslider img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%; }

/***********************************

  SlipnSlider vendor styles

***********************************/
.slipnslider {
  overflow: hidden;
  width: 100%;
  position: relative; }

.slipnslider__stage {
  font-size: 0;
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.slipnslider__stage > * {
  display: inline-block;
  font-size: initial;
  height: auto;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none; }

.slipnslider__stage > *:first-child {
  margin-left: 0 !important; }

.slipnslider__controls .slipnslider__prev,
.slipnslider__controls .slipnslider__next,
.slipnslider__dot-nav > * {
  cursor: pointer;
  cursor: hand;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.slipnslider__controls {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0; }

.slipnslider__dot-nav {
  display: block;
  position: absolute;
  left: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  text-align: center; }

.slipnslider__dot-nav li {
  background: #CCC;
  display: inline-block;
  height: 12px;
  margin: 2px;
  width: 12px;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-border-radius: 50%; }

.slipnslider__dot-nav li.slipnslider__active {
  background: #000;
  width: 14px;
  height: 14px; }

.no-js .slipnslider__stage,
.no-js .slipnslider__stage > * {
  width: 100% !important;
  max-width: 100% !important;
  display: block; }

.slider-form {
  width: 50%;
  margin: 30px auto 0;
  border: 2px solid #a82bde;
  padding: 30px;
  -webkit-border-radius: 40px;
          border-radius: 40px; }

.slider-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px; }

.slider-form input[type="submit"] {
  width: auto;
  margin-left: auto;
  margin-right: auto; }

.slider-form > * {
  display: block;
  width: 100%; }

.slider-form > * + * {
  margin-top: 15px; }
